/* 默认值 */

$accentColor = #01BA88
$textColor = #1e2328
$homeColor = #686868
$titleColor = #17233d
$contentColor = #515a6e
$subColor = #808695
$disabledColor = #c5c8ce
$dividerColor = #e8eaec
$borderColor = #dcdee2
$backgroundColor = #f8f8f9
$successColor = #19be6b
$warningColor = #ff9900
$errorColor = #ed4014
$primaryColor = #2386ef
$codeBgColor = #282a2e
$badgeTipColor = #01BA88
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #e63b48


